---
import Layout from '@/layouts/Layout.astro';
import { Mail, Phone, MapPin } from 'lucide-astro';
---

<Layout title="Contact ACIMU" description="Get in touch with us for collaborations, inquiries, or to start your next project.">
  <main class="container">
    <section class="contact-intro">
      <h1>Contactanos</h1>
      <p>¿Tenemos alguna sugerencia? ¿Quieres saber más sobre nuestros servicios? ¿Quieres colaborar con nosotros? ¡Contáctanos!</p>
    </section>

    <section class="contact-content">
      <div class="form-container">
        <h2>Envianos un mensaje</h2>
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea id="message" name="message" rows="5" required></textarea>
          </div>
          <button type="submit">Enviar mensaje</button>
        </form>
      </div>
      <div class="info-container">
        <h2>Contactanos</h2>
        <div class="info-item">
          <Mail size={24} />
          <a href="mailto:arquitectos.cinco.mas.uno@gmail.com">arquitectos.cinco.mas.uno@gmail.com</a>
        </div>
        <div class="info-item">
          <Phone size={24} />
          <span>096 212 2527</span>
        </div>
        <div class="info-item">
          <MapPin size={24} />
          <span>Calle Montufar, Sangolquí, Quito</span>
        </div>
        <div class="map-placeholder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467.54907209386823!2d-78.44626132658105!3d-0.33015420661073086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd16d36801eb%3A0x418fa040ccbcc435!2sARQUITECTOS%20CINCO%20%2B%20UNO%20(ACIMU)!5e1!3m2!1ses-419!2sec!4v1757714744177!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .contact-intro {
    text-align: center;
    padding: var(--spacing-xl) 0;
  }
  h1 {
    font-size: 3.5rem;
  }

  .contact-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-xl);
  }

  @media (max-width: 992px) {
    .contact-content {
      grid-template-columns: 1fr;
    }
    .form-container {
      width: 90%;
      background-color: var(--color-background);
      border-radius: var(--border-radius);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  /* Form */
  .form-group {
    margin-bottom: var(--spacing-md);
  }
  label {
    display: block;
    margin-bottom: var(--spacing-sm);
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    padding: var(--spacing-md);
    border: 1px solid var(--color-muted);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
  button[type="submit"] {
    background-color: var(--color-primary);
    color: white;
    padding: var(--spacing-md) var(--spacing-lg);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  button[type="submit"]:hover {
    background-color: var(--color-accent);
  }

  /* Info */
  .info-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }
  .info-item svg {
    color: var(--color-primary);
  }
  .map-placeholder iframe {
    width: 100%;
    border-radius: var(--border-radius);
    margin-top: var(--spacing-lg);
  }
</style>
